/* || Global Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --navy950: hsl(233, 47%, 7%);
    --blue950: hsl(244, 37%, 16%);
    --purple500: #aa5cdb;
    --white1: hsl(0, 0%, 100%);
    --white2: hsla(0, 0%, 100%, 0.75);
    --white3: hsla(0, 0%, 100%, 0.6);
}

body {
    align-items: center;
    background-color: var(--navy950);
    display: flex;
    font-size: 15px;
    justify-content: center;
    height: 100vh;
}

/* || Main Styling */

h1,
h2 {
    color: var(--white1);
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.9rem;
    margin-block-end: 1rem;
    padding: 1rem;
    text-align: center;
}

@media screen and (min-width: 80em) {
    h1 {
        text-align: left;
    }
}

h2 {
    margin-block-end: 0.5rem;
}

span {
    color: var(--purple500);
}

.card-text,
.stat-type {
    font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
    text-align: center;
}

.card-text {
    color: var(--white2);
    text-align: center;
    line-height: 180%;
    margin-block-end: 3rem;
    padding: 0 0.8rem;
}

@media screen and (min-width: 80em) {
    .card-text {
        text-align: left;
    }
}

.stat-type {
    color: var(--white3);
    font-weight: 400;
}

/* Card Styles */

.card {
    background-color: var(--blue950);
    border-radius: 0.5rem;
    overflow: hidden;
    width: 23rem;
}

@media screen and (min-width: 80em) {
    .card {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
    }
}

.image-section {
    background-image: url(./images/image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 16rem;
    position: relative;
}

@media screen and (min-width: 80em) {
    .image-section {
        background-image: url(./images/image-header-desktop.jpg);
        background-size: cover;
        grid-column: 2;
        grid-row: 1;
        height: 100%;
    }
}

.image-mobile {
    height: auto;
    width: 100%;
}

.overlay {
    background-color: var(--purple500);
    height: 100%;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    z-index: 2;
}

.text-section {
    padding: 2rem;
}

@media screen and {
    .text-section {
        grid-column: 1;
        grid-row: 1;
    }
}

.stats-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 80em) {
    .stats-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
        text-align: start;
    }
}
